# Pandas
In this notebook, we'll encounter a very useful package for scientific computing in Python: Pandas. We can think of Pandas as "numpy with labels". This package is especially useful for data science and biology for a few reasons:
* Great for real-world, heterogeneous data
* Similar to Excel spreadsheets (but way faster!)
* Smartly deals with missing data

### At the end of this notebook, you'll be able to:
* Create & manipulate Pandas dataframes
* Load a tabular file of genetic data into a Pandas dataframe
* Index and subset Pandas dataframes
* Generate descriptive statistics for Pandas dataframes
<hr>

## Importing packages

Before we can pandas, we need to import it. The convention is to import `pandas` as `pd`.

In [1]:
# Import packages
import pandas as pd

# Use whos 'magic command' to see available modules
%whos

Variable   Type      Data/Info
------------------------------
pd         module    <module 'pandas' from '/o<...>ages/pandas/__init__.py'>

## Create and Manipulate Dataframes 
The two data structures of Pandas are the `Series` and the `DataFrame`. A `Series` is a one-dimensional object similar to a list. A `DataFrame` can be thought of as a two-dimensional numpy array or a collection of `Series` objects. Series and dataframes can contain multiple different data types such as integers, strings, and floats, similar to an Excel spreadsheet. Pandas also supports `string` lables unlike numpy arrays which only have numeric labels for their rows and columns. For a more in depth explanation, please visit the [Introduction to Data Structures](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html) section in the Pandas User Guide. 

You can create a Pandas dataframe by inputting dictionaries into the Pandas function `pd.DataFrame()`, by reading files, or through functions built into the Pandas package. The function [`pd.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) reads a comma- or tab-separated file and returns it as a `dataframe`.

### Creating a data from a dictionary

Below, we'll create a dataframe from a dictionary. Since this is quite a bit to fit into one cell, we're also using a trick where we use a pair of open parentheses to tell Python to *ignore* the line breaks here.

In [9]:
# Create the dictionary
students = {'FIRST_NAME': ['Daniel', 'Ben', 'Kavita', 'Linda',
                  'Omar','Jane', 'Felicia', 'Rachel',
                  'Bob'],
   'LAST_NAME': ['Smith', 'Leibstrom', 'Kanabar', 'Thiel',
                 'Reichel', 'OConner', 'Rao', 'Crock',
                 'McDonald'],
   'YEAR': [1, 1, 1, 4, 2, 2, 3, 1, 1],
   'HOME_STATE': ['NY', 'NY', 'PA', 'CA', 'OK', 'HI',
                  'NY','FL', 'FL'],
   'AGE': [18, 19, 19, 22, 21, 19, 20, 17, 18],
   'CALC_101_FINAL': [90, 80, None, 60, 70, None, None,
                      None, 98],
   'ENGLISH_101_FINAL': [80, None, None, 40, 50, None,
                         None, 60, 65]} 

# Create the dataframe from our dictionary
students_df = pd.DataFrame(students)
students_df

,FIRST_NAME,LAST_NAME,YEAR,HOME_STATE,AGE,CALC_101_FINAL,ENGLISH_101_FINAL
0,Daniel,Smith,1,NY,18,90.0,80.0
1,Ben,Leibstrom,1,NY,19,80.0,NaN
2,Kavita,Kanabar,1,PA,19,NaN,NaN
3,Linda,Thiel,4,CA,22,60.0,40.0
4,Omar,Reichel,2,OK,21,70.0,50.0
5,Jane,OConner,2,HI,19,NaN,NaN
6,Felicia,Rao,3,NY,20,NaN,NaN
7,Rachel,Crock,1,FL,17,NaN,60.0
8,Bob,McDonald,1,FL,18,98.0,65.0

We can access a list of all of the students' last names using the following notation: `df['column_name']`.

In [3]:
# Access LAST_NAME column
lastnames = students_df['LAST_NAME']
lastnames

0        Smith
1    Leibstrom
2      Kanabar
3        Thiel
4      Reichel
5      OConner
6          Rao
7        Crock
8     McDonald
Name: LAST_NAME, dtype: object

One column of the dataframe is a **series**.

In [ ]:
# Check type of column
type(lastnames)

### Reading from a file example
Below we will create a dataframe by reading the file `brainarea_vs_genes.tsv` which contains information on gene expression across multiple brain areas. We'll use the `read_csv` function to import our gene expression data as a DataFrame.

>**About this dataset:**
This dataset was created by Derek Howard and Abigail Mayes for the purpose of accelerating advances in data mining of open brain transcriptome data for polygenetic brain disorders. The data comes from normalized microarray datasets of gene expression from 6 adult human brains that was released by the Allen Brain Institute and then processed into the dataframe we will see below. For more information on this dataset please visit the <a href = "https://github.com/derekhoward/HBAsets"> HBAsets repository</a>. 

Below, we'll use the `read_csv()` function to import our gene expression data as a **data frame**.

In [4]:
# Read in the list of lists as a data frame
# Note "delimiter" from loadtxt is "sep" here
gene_df = pd.read_csv('Data/brainarea_vs_genes.tsv',sep='\t')

#Show the first five rows
gene_df.head()

,gene_symbol,CA1 field,CA2 field,CA3 field,CA4 field,"Crus I, lateral hemisphere","Crus I, paravermis","Crus II, lateral hemisphere","Crus II, paravermis",Edinger-Westphal nucleus,...,"temporal pole, inferior aspect","temporal pole, medial aspect","temporal pole, superior aspect",transverse gyri,trochlear nucleus,tuberomammillary nucleus,ventral tegmental area,ventromedial hypothalamic nucleus,vestibular nuclei,zona incerta
0,CNTNAP3,0.752163,1.548381,1.961218,1.511869,-1.052871,-1.044282,-0.951765,-1.066606,-1.379488,...,0.247441,0.522270,0.478694,-0.144929,0.019326,2.826586,-0.446810,-0.060737,-0.073722,-0.327626
1,AP1S1,0.983700,0.138025,0.240694,-0.138402,-0.859617,-0.853491,-0.799364,-0.830323,-0.688747,...,1.156757,1.320692,1.481280,0.885764,-0.466182,-0.612176,-1.022950,-1.208921,-1.157348,-0.976336
2,KLK3,0.340816,1.146565,1.446988,0.506936,0.596726,0.584251,0.525423,0.614704,1.453660,...,-1.220420,-0.926273,-0.705074,-0.461776,0.896928,-0.502945,0.352190,0.290381,-0.313828,-0.597703
3,HUS1B,-0.647548,-0.828916,0.059452,-0.239782,1.148391,1.189058,1.233382,1.322978,0.658224,...,-1.036261,-0.874315,-0.290853,-0.892696,0.549402,-1.890037,0.377516,-0.707721,0.006505,-0.074109
4,GTF2E2,0.704505,0.382086,0.329439,0.301807,1.701373,1.559972,1.688480,1.648590,-1.226395,...,0.220697,0.391602,0.394778,-0.222447,-1.284692,0.369077,-0.428325,-0.015808,-1.065625,-0.165026

At the moment, the first column  of information above, called the **index**, just contains a list of numbers.

> **Task**: Reassign the row labels by using the method `set_index()` on our dataframe. We can choose any column in our present dataframe to be the row values -- let's assign the row lables to be the `gene_symbol` and re-assign the dataframe. 

**Question for consideration**: Does `set_index()` work in place?

In [5]:
row_index = 'gene_symbol'
gene_df = gene_df.set_index(row_index)
gene_df.head()

,CA1 field,CA2 field,CA3 field,CA4 field,"Crus I, lateral hemisphere","Crus I, paravermis","Crus II, lateral hemisphere","Crus II, paravermis",Edinger-Westphal nucleus,Heschl's gyrus,...,"temporal pole, inferior aspect","temporal pole, medial aspect","temporal pole, superior aspect",transverse gyri,trochlear nucleus,tuberomammillary nucleus,ventral tegmental area,ventromedial hypothalamic nucleus,vestibular nuclei,zona incerta
gene_symbol,,,,,,,,,,,,,,,,,,,,,
CNTNAP3,0.752163,1.548381,1.961218,1.511869,-1.052871,-1.044282,-0.951765,-1.066606,-1.379488,0.069526,...,0.247441,0.522270,0.478694,-0.144929,0.019326,2.826586,-0.446810,-0.060737,-0.073722,-0.327626
AP1S1,0.983700,0.138025,0.240694,-0.138402,-0.859617,-0.853491,-0.799364,-0.830323,-0.688747,0.879118,...,1.156757,1.320692,1.481280,0.885764,-0.466182,-0.612176,-1.022950,-1.208921,-1.157348,-0.976336
KLK3,0.340816,1.146565,1.446988,0.506936,0.596726,0.584251,0.525423,0.614704,1.453660,-0.295207,...,-1.220420,-0.926273,-0.705074,-0.461776,0.896928,-0.502945,0.352190,0.290381,-0.313828,-0.597703
HUS1B,-0.647548,-0.828916,0.059452,-0.239782,1.148391,1.189058,1.233382,1.322978,0.658224,-0.154011,...,-1.036261,-0.874315,-0.290853,-0.892696,0.549402,-1.890037,0.377516,-0.707721,0.006505,-0.074109
GTF2E2,0.704505,0.382086,0.329439,0.301807,1.701373,1.559972,1.688480,1.648590,-1.226395,-0.220292,...,0.220697,0.391602,0.394778,-0.222447,-1.284692,0.369077,-0.428325,-0.015808,-1.065625,-0.165026

It would help to know what information is in our dataset. In other words, what is across the columns at the top?

> **Task** Show a list of columns by accessing the `columns` attribute of our dataframe.

In [7]:
# Access the columns of our dataframe
gene_df.columns

# Convert into a list to see all...

['CA1 field',
 'CA2 field',
 'CA3 field',
 'CA4 field',
 'Crus I, lateral hemisphere',
 'Crus I, paravermis',
 'Crus II, lateral hemisphere',
 'Crus II, paravermis',
 'Edinger-Westphal nucleus',
 "Heschl's gyrus",
 'I-II',
 'III',
 'III, lateral hemisphere',
 'III, paravermis',
 'IV',
 'IV, lateral hemisphere',
 'IV, paravermis',
 'IX',
 'IX, lateral hemisphere',
 'IX, paravermis',
 'V',
 'V, lateral hemisphere',
 'V, paravermis',
 'VI',
 'VI, lateral hemisphere',
 'VI, paravermis',
 'VIIAf',
 'VIIAt',
 'VIIB',
 'VIIB, lateral hemisphere',
 'VIIB, paravermis',
 'VIIIA',
 'VIIIA, lateral hemisphere',
 'VIIIA, paravermis',
 'VIIIB',
 'VIIIB, lateral hemisphere',
 'VIIIB, paravermis',
 'X',
 'X, lateral hemisphere',
 'X, paravermis',
 'abducens nucleus',
 'amygdalohippocampal transition zone',
 'angular gyrus, inferior bank of gyrus',
 'angular gyrus, superior bank of gyrus',
 'anterior group of nuclei',
 'anterior hypothalamic area',
 'anterior orbital gyrus',
 'arcuate nucleus of medulla',
 'arcuate nucleus of the hypothalamus',
 'basal nucleus of meynert',
 'basolateral nucleus',
 'basomedial nucleus',
 'bed  nucleus of stria terminalis',
 'body of caudate nucleus',
 'caudal group of intralaminar nuclei',
 'central glial substance',
 'central gray of the pons',
 'central gray substance of midbrain',
 'central medullary reticular group',
 'central nucleus',
 'choroid plexus of the lateral ventricle',
 'cingulate gyrus, frontal part, inferior bank of gyrus',
 'cingulate gyrus, frontal part, superior bank of gyrus',
 'cingulate gyrus, parietal part, inferior bank of gyrus',
 'cingulate gyrus, parietal part, superior bank of gyrus',
 'cingulate gyrus, retrosplenial part, inferior bank of gyrus',
 'cingulate gyrus, retrosplenial part, superior bank of gyrus',
 'cingulum bundle',
 'claustrum',
 'cochlear nuclei',
 'corpus callosum',
 'cortico-medial group',
 'cuneate nucleus',
 'cuneiform nucleus',
 'cuneus, peristriate',
 'cuneus, striate',
 'dentate gyrus',
 'dentate nucleus',
 'dorsal lateral geniculate nucleus',
 'dorsal motor nucleus of the vagus',
 'dorsomedial hypothalamic nucleus',
 'emboliform nucleus',
 'facial motor nucleus',
 'fastigial nucleus',
 'frontal operculum',
 'frontal pole, inferior aspect',
 'frontal pole, medial aspect',
 'frontal pole, superior aspect',
 'fusiform gyrus, bank of cos',
 'fusiform gyrus, bank of the its',
 'fusiform gyrus, lateral bank of gyrus',
 'gigantocellular group',
 'globose nucleus',
 'globus pallidus, external segment',
 'globus pallidus, internal segment',
 'gracile nucleus',
 'gyrus rectus',
 'head of caudate nucleus',
 'hypoglossal nucleus',
 'inferior colliculus',
 'inferior frontal gyrus, opercular part',
 'inferior frontal gyrus, orbital part',
 'inferior frontal gyrus, triangular part',
 'inferior occipital gyrus, inferior bank of gyrus',
 'inferior occipital gyrus, superior bank of gyrus',
 'inferior olivary complex',
 'inferior rostral gyrus',
 'inferior temporal gyrus, bank of mts',
 'inferior temporal gyrus, bank of the its',
 'inferior temporal gyrus, lateral bank of gyrus',
 'interstitial nucleus of Cajal',
 'lateral group of nuclei, dorsal division',
 'lateral group of nuclei, ventral division',
 'lateral habenular nucleus',
 'lateral hypothalamic area, anterior region',
 'lateral hypothalamic area, mammillary region',
 'lateral hypothalamic area, tuberal region',
 'lateral mammillary nucleus',
 'lateral medullary reticular group',
 'lateral nucleus',
 'lateral orbital gyrus',
 'lateral parabrachial nucleus',
 'lateral tuberal nucleus',
 'lingual gyrus, peristriate',
 'lingual gyrus, striate',
 'locus ceruleus',
 'long insular gyri',
 'mammillary body',
 'medial geniculate complex',
 'medial group of nuclei',
 'medial habenular nucleus',
 'medial mammillary nucleus',
 'medial orbital gyrus',
 'medial parabrachial nucleus',
 'midbrain raphe nuclei',
 'midbrain reticular formation',
 'middle frontal gyrus, inferior bank of gyrus',
 'middle frontal gyrus, superior bank of gyrus',
 'middle temporal gyrus, inferior bank of gyrus',
 'middle temporal gyrus, superior bank of gyrus',
 'motor nucleus of trigeminal nerve',
 'nucleus accumbens',
 'nucleus of Darkschewitsch',
 'nucleus of the diagonal band, horizontal division',
 'nucleus of the diagonal band, vertical division',
 'nucleus subceruleus',
 'occipital pole, inferior aspect',
 'occipital pole, lateral aspect',
 'occipital pole, superior aspect',
 'occipito-temporal gyrus, inferior bank of gyrus',
 'occipito-temporal gyrus, superior bank of gyrus',
 'oculomotor nuclear complex',
 'olfactory tubercle',
 'pallidohypothalamic nucleus',
 'paracentral lobule, anterior part',
 'paracentral lobule, anterior part, inferior bank of gyrus',
 'paracentral lobule, anterior part, superior bank of gyrus',
 'paracentral lobule, posterior part, bank of cingulate sulcus',
 'paracentral lobule, posterior part, lateral bank of gyrus',
 'parahippocampal gyrus, bank of the cos',
 'parahippocampal gyrus, lateral bank of gyrus',
 'paraterminal gyrus',
 'paraventricular nuclei, left of thalamus',
 'paraventricular nuclei, right of thalamus',
 'paraventricular nucleus of the hypothalamus',
 'parolfactory gyri',
 'perifornical nucleus',
 'pineal gland',
 'piriform cortex',
 'planum polare',
 'planum temporale',
 'pontine nuclei',
 'pontine raphe nucleus',
 'pontine reticular formation',
 'postcentral gyrus, bank of the central sulcus',
 'postcentral gyrus, bank of the posterior central sulcus',
 'postcentral gyrus, inferior lateral aspect of gyrus',
 'postcentral gyrus, superior lateral aspect of gyrus',
 'posterior group of nuclei',
 'posterior hypothalamic area',
 'posterior orbital gyrus',
 'precentral gyrus, bank of the central sulcus',
 'precentral gyrus, bank of the precentral sulcus',
 'precentral gyrus, inferior lateral aspect of gyrus',
 'precentral gyrus, superior lateral aspect of gyrus',
 'precuneus, inferior lateral bank of gyrus',
 'precuneus, superior lateral bank of gyrus',
 'preoptic region',
 'pretectal region',
 'principal sensory nucleus of trigeminal nerve',
 'putamen',
 'raphe nuclei of medulla',
 'red nucleus',
 'reticular nucleus of thalamus',
 'rostral group of intralaminar nuclei',
 'septal nuclei',
 'short insular gyri',
 'spinal trigeminal nucleus',
 'subcallosal cingulate gyrus',
 'subcuneiform nucleus',
 'subiculum',
 'substantia innominata',
 'substantia nigra, pars compacta',
 'substantia nigra, pars reticulata',
 'subthalamic nucleus',
 'superior colliculus',
 'superior frontal gyrus',
 'superior frontal gyrus, lateral bank of gyrus',
 'superior frontal gyrus, medial bank of gyrus',
 'superior occipital gyrus, inferior bank of gyrus',
 'superior occipital gyrus, superior bank of gyrus',
 'superior olivary complex',
 'superior parietal lobule, inferior bank of gyrus',
 'superior parietal lobule, superior bank of gyrus',
 'superior rostral gyrus',
 'superior temporal gyrus, inferior bank of gyrus',
 'superior temporal gyrus, lateral bank of gyrus',
 'supramammillary nucleus',
 'supramarginal gyrus, inferior bank of gyrus',
 'supramarginal gyrus, superior bank of gyrus',
 'supraoptic nucleus',
 'tail of caudate nucleus',
 'temporal pole, inferior aspect',
 'temporal pole, medial aspect',
 'temporal pole, superior aspect',
 'transverse gyri',
 'trochlear nucleus',
 'tuberomammillary nucleus',
 'ventral tegmental area',
 'ventromedial hypothalamic nucleus',
 'vestibular nuclei',
 'zona incerta']

## Indexing Dataframes

Indexing in Pandas works slightly different than in NumPy. Similar to a dictionary, we can index dataframes by their names. 

The syntax for indexing **single locations** in a dataframe is `dataframe.loc[row_label,column_label]`.

To index an **individual column**, we use the shorthand syntax `dataframe[column_label]`.

To index an **individual row**, we use the syntax `dataframe.loc[row_label]`.

To index by **index #**, we use the syntax `dataframe.iloc[index_number]`.

Below are some examples on how to access rows, columns, and single values in our dataframe. For more information on indexing dataframes, visit the <a href = "https://pandas.pydata.org/docs/user_guide/indexing.html#indexing"> "Indexing and selecting data"</a> section in the Pandas User Guide.

> **Task**: Try each of these forms of indexing below. Can you use this syntax to get multiple values (a slice or subset) of the dataframe as well?

In [ ]:
# Select a single location

In [ ]:
# Select a single column

In [ ]:
# Select a single row

In [ ]:
# Select a single index
# Hint: You can show all indices using gene_df.index

To select multiple different columns, you can use a `list` of all your columns of interest as so:

In [ ]:
# Dataframe w/ only CA field entries 
CA_field_df = gene_df[['CA1 field', 
                       'CA2 field', 
                       'CA3 field', 
                       'CA4 field']]
CA_field_df.head()

## Subsetting dataframes

Like NumPy arrays, we can subset our original dataframe to only include data that meets our criteria. Our dataframe has data on multiple different brain areas with many gene expression values. You can filter this dataframe using the following syntax:
```
new_df = original_df[original_df['Column of Interest'] == 'Desired Value']
```
In plain english, what this is saying is: save a dataframe from the original dataframe, where the original dataframe values in my Column of Interest are equal to my Desired Value. For more information on subsetting,  visit the <a href = "https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html"> "How do I select a subset of a DataFrame"</a> section in the Pandas documentation. 

Below we will demonstrate how to execute this by taking a look at the `CA1 field` column in `gene_df`. We will create a dataframe from `gene_df` that only contains genes that showed a certain level of gene expression.

In [ ]:
# Create a dataframe with only genes that have an expression 
# value greater than 1.7 in 'CA1 field' 

high_CA1 = gene_df[gene_df['CA1 field'] > 1.7]
high_CA1

## DataFrame Methods

Pandas has many useful methods that you can use on your data, including `describe`, `mean`, and more. To learn more about all the different methods that can be used to manipulate and analyze dataframes, please visit the <a href = "https://pandas.pydata.org/docs/user_guide/index.html"> Pandas User Guide </a>. We will demonstrate some of these methods below.

The `describe` method returns descriptive statistics of all the columns in our dataframe.

In [ ]:
gene_df.describe()

The `mean` and `std` method return the mean and standard deviation of each column in the dataframe, respectively.

In [ ]:
# Try df.mean()
gene_df.mean()

In [ ]:
# Try df.std()
gene_df.std()

## Merging & joining dataframes

Let's say we have two different dataframes and we would like to combine the two into one single dataframe. We can use either the `merge` or `join` Pandas methods in order to pull all of this data into one dataframe. 

![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

There are different types of joins/merges you can do in Pandas, illustrated <a href="http://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/">above</a>. Here, we want to do an **inner** merge, where we're only keeping entries with indices that are in both dataframes. We could do this merge based on columns, alternatively.

**Inner** is the default kind of join, so we do not need to specify it. And by default, join will use the 'left' dataframe, in other words, the dataframe that is executing the `join` method.

If you need more information, look at the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html">join</a> and <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html">merge</a> documentation: you can use either of these to unite your dataframes, though join will be simpler!

Below is an example of how to join two separate dataframe into one, unified dataframe. We start with one dataframe with only entries from the *temporal pole* and another dataframe with only entries from the CA fields of the hippocampus. We can then join the two dataframes together using the syntax `unified_df = df_1.join(df_2)`

In [ ]:
# Dataframe w/ only Temporal Pole entries 
temporal_pole_df = gene_df[['temporal pole, inferior aspect', 
                            'temporal pole, medial aspect', 
                            'temporal pole, superior aspect']]
temporal_pole_df.head()

In [ ]:
# Join the two dataframes
df_1 = temporal_pole_df
df_2 = CA_field_df

unified_df = df_1.join(df_2)
unified_df.head()

<hr>

## Group Task (To submit on Canvas)
### *Does the number of neurons in the cortex scale with cortex size?*
In this final task, we'll look at [this dataset](http://www.suzanaherculanohouzel.com/2015-h-h-et-al-bbe-database/), which is already uploaded to your DataHub, to figure out whether the number of neurons in the cortex scales with cortex size, and if this scaling is different for primates.  

To complete this task, do the following steps:

1. Use `pd.read_csv()` to read in our comma-delimited file 'Data/species_brainmass_neurons.csv' and assign it to a dataframe called `brains_df`.
2. Separate the dataframe into two dataframes: one that contains all of the primates (`primate_df`; 'Order' is Primata) and one that contains all of the data that are *not* from primates (`nonprimate_df`). **Hint**: You can subset the dataframe by using the syntax `brains_df[brains_df['Order']=='Primata']`.
3. Using two separate, subsequent calls to `plt.scatter()` for primates and then non-primates, create a scatterplot with `cortex_mass` on the x axis and `neurons` on the y axis.
4. Label your axes.
5. (Optional) log scale your axes using `plt.xscale('log')` and `plt.yscale('log')`.
6. Right click on the image or screenshot to save and submit.

<hr>

## Additional resources
See the [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) for a more in depth exploration of Pandas, and of course, the [Pandas documentation](https://pandas.pydata.org/docs/user_guide/index.html).